#login {
    /* width: 100%; */
    text-align: -webkit-left;
    border-radius: 1px;
	background: linear-gradient(to bottom, #0f1010, #585555 100%);
	color: white;
}



#contLogin {


}



/*.marginClass {

	margin-top: 10px;
	padding:  10px 10px 10px 10px; 
}*/