<div id='events'>
      <div id='ProxEvents' class='margin-bottom-class'>
        <h2 class='classPadding'>PRÓXIMOS CONCIERTOS</h2>
       <table>
        <tr  ng-repeat="conc in $ctrl.conciertosProximos">
          <td ng-show="$ctrl.usuarioAutorizado()">
            <button class="delete" ng-click="$ctrl.borrarConcierto(conc)">&times;</button></td>
          <td class='tdFecha'>
            <!---<a  target="content" href="http://cautivarteatro.weebly.com/uploads/4/7/1/5/47158819/8556033.jpg?461">sdsds</a> -->
              <h3>{{$ctrl.formateaDia(conc.fecha)}}-{{$ctrl.formateaMes(conc.fecha)}}-{{conc.fecha.getUTCFullYear()}}</h3>
          </td>
           <td id="localidad">
            <!---<a  target="content" href="http://cautivarteatro.weebly.com/uploads/4/7/1/5/47158819/8556033.jpg?461">sdsds</a> -->
             <h3>{{conc.ciudad}}</h3>
          
          </td>
                     <td >
            <!---<a  target="content" href="http://cautivarteatro.weebly.com/uploads/4/7/1/5/47158819/8556033.jpg?461">sdsds</a> -->
           
             <h4>{{conc.sala}}</h4>
          </td>
           <td id='info'>
            <a href=""><div ><h3 >+INFO</h3></div></a>
          </td>
        </tr>
       </table>
       <div ng-show="$ctrl.usuarioAutorizado()">
        <h3>Formulario para insertar concierto</h3>
         <form ng-submit='$ctrl.insertarConcierto()' >
        <input ng-model="$ctrl.conciertoModel.ciudad" type="text" name="CiudadTxt" placeholder="Ciudad"  ng-required="true">
        <input ng-model="$ctrl.conciertoModel.sala" type="text" name="salaTxt" placeholder="Sala"  ng-required="true">
        <input ng-model="$ctrl.conciertoModel.fecha" type="datetime-local" name="bdaytime" placeholder="Fecha"  ng-required="true">
        <input type='submit' value="Enviar" >
       </form>
       </div>

      </div>

      <div id='PastEvents' class='margin-bottom-class'>
        <h2 class='classPadding'>CONCIERTOS PASADOS</h2>
       <table>
        <tr  ng-repeat="conc in $ctrl.conciertosPasados">
          <td ng-show="$ctrl.usuarioAutorizado()">
            <button class="delete" ng-click="$ctrl.borrarConcierto(conc)">&times;</button></td>
           <td class='tdFecha'>
            <!---<a  target="content" href="http://cautivarteatro.weebly.com/uploads/4/7/1/5/47158819/8556033.jpg?461">sdsds</a> -->
              <h3>{{$ctrl.formateaDia(conc.fecha)}}-{{$ctrl.formateaMes(conc.fecha)}}-{{conc.fecha.getUTCFullYear()}}</h3>
          </td>
           <td id="localidad">
            <!---<a  target="content" href="http://cautivarteatro.weebly.com/uploads/4/7/1/5/47158819/8556033.jpg?461">sdsds</a> -->
             <h3>{{conc.ciudad}}</h3>
          
          </td>
                     <td >
            <!---<a  target="content" href="http://cautivarteatro.weebly.com/uploads/4/7/1/5/47158819/8556033.jpg?461">sdsds</a> -->
           
             <h4>{{conc.sala}}</h4>
          </td>
           <td id='info'>
            <a href=""><div ><h3 >+INFO</h3></div></a>
          </td>
        </tr>

       </table>
      </div>
    
    </div>